@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
  padding: 40px;
  background-color: #121212;
}

.topnav{
  background-color: inherit;
  overflow: hidden;
}

.topnav a{
  font-family: 'Roboto';  
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  width: 100px;
  border-radius: 2px;
}

.topnav a.active {
  color: white;
  border-bottom: solid 3px rgba(255,255,255,.70);
}

.topnav li a:hover{
  background-color: #ddd;
  color: black;
  transition: 0.3s;
}

.box {
  border: solid 1px rgba(255,255,255,.70);
  padding-left: 20px;
  padding-right: 20px;
  padding: 5px 20px 5px 20px;
  border-radius: 8px;
  background-color: #22222260;
  font-family: 'Source Code Pro', monospace;
}

.box p {
  font-family: 'Source Code Pro', monospace;
}

p {
  color: #f2f2f2;
  font-family: 'Lato', monospace;
}

h1 {
  color: rgba(255,255,255,.70);
}

/* Add typing effect to h1 with typing class */
.typing h1 {
  font-family: 'Source Code Pro', monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgba(0,255,0,.75); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(0,255,0,.75); }
}